.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 20px; */
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 100px; /* Ajusta el tamaño del perfil según tus necesidades */
  height: 100px; /* Ajusta el tamaño del perfil según tus necesidades */
  border-radius: 50%; /* Redondear la imagen del perfil */
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Cambia el tamaño mínimo según tus necesidades */
  gap: 10px;
  width: 100%; /* Asegura que la cuadrícula use todo el ancho disponible */
}

.media-container {
  overflow: hidden; /* Para evitar que el contenido desborde el contenedor */
}

.post-image,
.post-video {
  width: 100%; /* Ocupa el ancho completo del contenedor */
  height: 200px; /* Altura fija para las imágenes y videos */
  object-fit: cover; /* Para mantener la relación de aspecto y cubrir el contenedor */
}
